input {
  width: 100%;
  padding: 15px 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0.35;
}
